footer {
  background-color: darkblue;
  width: 85%;
  margin: 20px auto;
  padding: 10px;
  border-radius: 15px;
}
footer p {
  margin: 5px auto;
  color: white;
}
footer a {
  color: antiquewhite;
  text-decoration: none;
  background-color: blue;
}
