header {
  background-color: darkblue;
  width: 85%;
  margin: 20px auto;
  padding: 10px;
  border-radius: 15px;
}
header h1 {
  color: white;
}
header p {
  color: white;
}
.rightpara {
  text-align: right;
}
@media all and (max-width: 750px) {
  .rightpara {
    display: none;
  }
}
