.legend {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border: 2px solid black;
  width: 70%;
  margin: 0 auto 40px auto;
  border-radius: 10px;
}
.legendright {
  text-align: left;
}
.legendfull {
  text-align: center;
}
@media all and (max-width: 768px) {
  .legend,
  .legendleft,
  .legendright,
  .legendfull {
    display: none;
  }
}
