.thead {
  font-weight: bold;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.plantime,
.realtime {
  text-align: center;
}
.delay {
  text-align: right;
}
.platform {
  text-align: center;
}
.line {
  text-align: left;
}
.direction {
  text-align: left;
}
@media all and (max-width: 750px) {
  .thead {
    display: none;
  }
}
